/AppForCafe/.idea/
/AppForCafe/.gradle/

/AppForCafe/.idea/
/AppForCafe/.gradle/

/ColorDescription/.idea/
/ColorDescription/.gradle/

/FirstApp/.idea/
/FirstApp/.gradle/

/Messenger/.idea/
/Messenger/.gradle/

/Timer/.idea/
/Timer/.gradle/